/*colors aqua:#087E8B orange:#E57A44 purple:#422040 black: #333 white:#F5F5F5*/

/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

section.forecast {
    display: none;
}

h1 {
    font-family: 'Merienda', cursive;
}

h2,
header,
nav,
h3 {
    font-family: serif;
}

p,
table,
footer {
    font-family: serif;
}

header,
nav,
main,
footer {
    max-width: 1100px;
    margin: auto;
}

header {}

header h1 {
    /*I don'y have anything I need to style here yet*/
}

header img {}

header,
.subheading {
    margin-left: 2em;
    margin-right: 2em;
}

.subheading {
    margin-top: -1.25em;
}

nav {}

nav button {
    margin: .2rem 2%;
    border: #333;
    font-size: 1.9rem;
    color: #555;
    background-color: transparent
}


nav ul {
    list-style-type: none;
    padding: 0;
    background-color: black;
}

nav ul.hide {
    display: none;
}

nav ul li {}

nav ul li a {
    color: white;
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #9BF3F0;
}

nav ul li a:hover {
    background-color: #444;
    color: white;
}

h1 {
    margin-left: .75rem;
    padding: .5rem;
}

.hamburger {
    margin-left: 2rem;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}


@media only screen and (max-width: 37.5em) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive li {
        background-color: #eee;
        /*display: block;*/
        width: 100%;
        margin: 2px 0;
        border: 1px solid #ddd;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    .navigation.responsive li a:hover {
        background-color: #ddd;
    }

    @media only screen and (min-width: 37.5em) {
        header,
        nav {
            margin: 0 auto;
            max-width: 600px;
        }

        .hamburger {
            display: none;
        }
        .navigation {
            background-color: #333;
            overflow: hidden;
            text-align: center;
        }
        .navigation li {
            /*display: inline-block;*/
            margin-left: .25rem;
        }
        .navigation a {
            /*display: block;*/
            color: #eee;
            padding: .5rem;
            text-align: center;
            text-decoration: none;
        }
        .navigation a:hover {
            color: #000;
            background-color: #777;
        }
    }
    main {
        margin-left: 2em;
        margin-right: 2em;
    }

    main h2 {
        text-align: center;
    }

    main figure {
        margin: 0 0 .2rem;
        width: 100%;
    }

    main figure img {
        width: 100%;
    }

    footer {
        padding: .5em;
        overflow: hidden;
        background-color: #333;
        color: #F5F5F5;
        margin-left: 2em;
        margin-right: 2em;
    }

    .weather-summary {
        display: flex;
        width: 100%;
    }

    .weather-summary > div {
        margin: 10px;
        padding: 20px;
        font-size: 1.3em;
    }

    .sun {
        width: 90%;
    }

    .red {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cloud {
        display: flex;
        flex-direction: row;
        min-width: 25em;
        margin: 10px auto;
    }

    .al {
        text-align: left;
    }

    .ak {
        padding-right: 1em;
        width: 210px;
    }

    .headings {
        flex: auto;
        display: flex;
        flex-direction: column;
    }

    .padd {
        margin-left: 1em;
        margin-right: 1em;
    }

    .pad {
        padding-left: .5em;
    }

    h3 {
        font-size: 1.3em;
    }

    .ran {
        max-width: 1200px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .im {
        width: 90%;
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        align-content: center;
    }

    .im:hover {
        box-shadow: 4px 4px 9px grey;
        opacity: .5;
    }

    .wrap {
        width: 33%;
        float: left;
    }

    .green {
        width: 32.5%;
    }

    .figure {
        width: 100%;

    }

    .acor {
        background-color: #9BF3F0;
        padding: .5em;
        color: white;
        box-shadow: 4px 4px 9px grey;
    }
    
    .bike {
        display: none;
    }
    
    .none {
        display: none;
    }
    
    table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


}